body{

  width: 100%;

}

* {
  margin: 0;
  padding: 0;
}

/* .background-image{ position:relative; width:100%;}*/
.hero {
  color: white;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 64PX;
  font-family: 'Krona One Regular';
}

.slogan {
  color: white;
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family: 'Thasadith Regular';
}

.contact { 
  color: black;
  position: absolute;
  top: 80%;
  left: 46%;
  /* width: 10%; */
  text-align: center;
  background-color: #EFD780;
  text-decoration: none;
  font-family: 'Thasadith Regular';
  font-size: 27px;
  padding: 1rem;

}

.contact-link{
  background-color: #EFD780;
  /* height: 0.2rem; */
  padding: 0.4rem;
}


@font-face {
  font-family: 'Krona One Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/KronaOne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Thasadith Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Regular'), url('fonts/Thasadith-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Italic'), url('fonts/Thasadith-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Bold'), url('fonts/Thasadith-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Bold Italic'), url('fonts/Thasadith-BoldItalic.woff') format('woff');
}

ul {
  padding: 0.5rem 1rem;
  /* margin: 0 0 0 250px;  */
  list-style: none;
  display: inline-block;
  margin-top: 01.5rem;
}

nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0 2rem;

}

li a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: 'Thasadith Regular';
  color: black;
  text-align: center;
}


nav ul li {
  display: inline-block;
  line-height: 20px;
  /* margin: 0 1px;  */
  text-align: right;
}

.squares{
  overflow: hidden;
}

main img{
  width: 100%;
  height: auto;
}
/* 
active,
a:hover {
  color: #3EBAE1;
}

h1 {
  font-size: 200px;
  color: white;
  text-align: center;
}

.slogan {
  text-align: center;
  line-height: 100px;
} */

/*.hero{
  background-image: url("images/DSC_0225-2.jpg");
  height: 1000px;
}
*/


.first_paragraph {
  font-size: 60px;
  color: #3EBAE1;
  margin: 10%;
  text-align: center;
  font-family: 'Krona One Regular';
}

.p1 {
  font-size: 50px;
  color: black;
  margin: 10%;
  text-align: center;
  font-family: 'Thasadith Regular';
}

/* .square {
  width: 2000px;
  height: 750px;
  overflow: hidden;
}

.background-image {
  width: 1200px;
  height: 1200px;
}

.second-big-image {
  width: 1200px;
  height: 900px;
}

.contact2-link {
  background-color: #EFD780;
  padding: 15px 15px;
  width: 10%;
}

.content-wrapper h3 {
  width: 100%;
  height: 1624px;
  background-color: #CEDACC;

}

.text-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
} */
