@font-face {
    font-family: 'Krona One Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KronaOne-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Thasadith Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Thasadith Regular'), url('../fonts/Thasadith-Regular.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Thasadith Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Thasadith Italic'), url('../fonts/Thasadith-Italic.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Thasadith Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Thasadith Bold'), url('../fonts/Thasadith-Bold.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Thasadith Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Thasadith Bold Italic'), url('../fonts/Thasadith-BoldItalic.woff') format('woff');
  }
  
  .navbar-light .navbar-toggler {
    width: 5rem !important;
    color: #0087C0 !important;
    border: none !important;
  }
  
  .navbar-toggler-icon {
    
    background-color: #0087C0 !important;
  }
  
  /* Contact Us Button on Navbar */
  .contact-link {
    background-color: #EFD780;
    padding: 0.4rem 2rem;
    font-family: 'Thasadith Regular';
    font-size: 20px;
    color: black;
  
  
  }
  
  
  
  /* Mobile Screen */
  
  @media(max-width: 767px) {
  
    .big_title {
      font-size: 27px;
      color: #3EBAE1;
      margin: 10%;
      text-align: center;
      font-family: 'Krona One Regular';
    }
  
    /* All paragraphs except the last paragraph (.located) */
    .p2 {
      font-size: 15px;
      color: black;
      margin: 10%;
      font-family: 'Thasadith Regular';
    }

    .contact-us-p2{
        font-size: 15px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
      }

      .contact-container{
        font-size: 12px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }

      .program-container{
        font-size: 15px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }

      .program-container p{
        padding-left: .75rem;
      }

      .block_span{
        display: block;
        padding-bottom: 1rem;
      }

      .contacts{
        padding-left: 2rem;
      }

    /* Heading 2 */
    .h2 {
  
      font-size: 15px !important;
      color: black;
      font-family: 'Krona One Regular';
      padding-top: 3rem;
  
    }
    .contact-us-h2{
        font-size: 15px !important;
        color: black;
        font-family: 'Krona One Regular';
        margin-left: 10%;
        /* padding-top: 10rem; */
      }
  
    /* Last Paragraph */
    .located {
      font-size: 15px;
      color: black;
      margin: 5% 10% 2% 0;
      font-family: 'Thasadith Regular';
  
    }
  
    footer p {
      margin: 4rem;
      font-family: 'Thasadith Regular';
      font-size: 12px;
    }
  
      /* Contact Us Button on Page */
    .contact-btn {
      background-color: #EFD780;
      padding: 0.4rem 2rem;
      font-family: 'Thasadith Regular';
      font-size: 20px;
      color: black;
  
  
    }
  
    /* Who we are Page Images Div */
    .reading_images {
      margin: 3rem;
      background-color: #CEDACC;
      padding: 2rem;
    }
  }
  
  .main{
    min-height: 85vh;
  }
  
  /* iPad Screen */
  
  @media screen and (min-width: 768px) and (max-width: 1080px) {
  
      /* Main Title (H1) */
    .big_title {
      font-size: 40px;
      color: #3EBAE1;
      margin: 10%;
      text-align: center;
      font-family: 'Krona One Regular';
    }
    .p2 {
      font-size: 20px;
      color: black;
      margin: 10%;
      font-family: 'Thasadith Regular';
    }

      .contact-container{
        font-size: 20px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }
     
      .program-container{
        font-size: 20px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }

      .program-container p{
        padding-left: .75rem;
      }

      .block_span{
        display: block;
        padding-bottom: 1rem;
      }

      .contacts{
        padding-left: 2rem;
      }

    .contact-us-p2{
        font-size: 30px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
      }
  
    .located {
      font-size: 30px;
      color: black;
      margin: 5% 10%;
      font-family: 'Thasadith Regular';
  
    }
  
    .reading_images {
      margin: 3rem;
      background-color: #CEDACC;
      padding: 4rem;
    }
  
    .h2 {
  
      font-size: 30px !important;
      color: black;
      font-family: 'Krona One Regular';
      padding-top: 10rem;
  
    }

    .contact-us-h2{
        font-size: 25px !important;
        color: black;
        font-family: 'Krona One Regular';
        margin-left: 10%;
        /* padding-top: 10rem; */
      }

      
  
    .contact-btn {
      background-color: #EFD780;
      padding: 0.4rem 2rem;
      font-family: 'Thasadith Regular';
      font-size: 40px;
      color: black;
    }

    footer p {
        margin: 4rem;
        font-family: 'Thasadith Regular';
        font-size: 15px;
      }
  
  }
  
  /* Screens larger than iPad */
  @media (min-width: 1081px){
      .p2 {
        font-size: 30px;
        color: black;
        margin: 10%;
        font-family: 'Thasadith Regular';
      }

      .contact-us-p2{
        font-size: 40px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
      }

      .contact-container{
        font-size: 30px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }

      .program-container{
        font-size: 30px;
        color: black;
        margin-left: 10% !important;
        font-family: 'Thasadith Regular';
        margin-top: 10%;
        display:flex;
      }

      .program-container p{
        padding-left: .75rem;
      }

      .block_span{
        display: block;
        padding-bottom: 1rem;
      }

      .contacts{
        padding-left: 2rem;
      }
  
      .located {
        font-size: 40px;
        color: black;
        margin: 5% 10%;
        font-family: 'Thasadith Regular';
    
      }
  
      .big_title {
        font-size: 60px;
        color: #3EBAE1;
        margin: 10%;
        text-align: center;
        font-family: 'Krona One Regular';
      }
  
      .reading_images {
        margin: 3rem;
        background-color: #CEDACC;
        padding: 6rem;
      }
  
      .h2 {
  
        font-size: 40px !important;
        color: black;
        font-family: 'Krona One Regular';
        padding-top: 10rem;
    
      }
      .contact-us-h2{
        font-size: 40px !important;
        color: black;
        font-family: 'Krona One Regular';
        margin-left: 10%;
        /* padding-top: 10rem; */
      }
  
      .contact-btn {
        background-color: #EFD780;
        padding: 0.4rem 2rem;
        font-family: 'Thasadith Regular';
        font-size: 25px;
        color: black;

      }

      footer p {
        margin: 4rem;
        font-family: 'Thasadith Regular';
        font-size: 20px;
      }
  
    }
  
  /* Computer Screen */
  
  @media(min-width: 768px) {
  
    
  }
  
  /* End of Computer Screen */
  
  .contact_button {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  
  .find_us a {
    text-decoration: none !important;
  }
  
  
  /* Images in the Reading Images div */
  .reading_images img {
    width: 100%;
    height: auto;
  }