body{

  width: 100%;

}

* {
  margin: 0;
  padding: 0;
}
/* Contact Us Button on Navbar */
.contact-link {
  background-color: #EFD780;
  padding: 0.4rem 2rem;
  font-family: 'Thasadith Regular';
  font-size: 20px;
  color: black;


}

 
   /* iPad Screen */
  
   @media screen and (min-width: 768px) and (max-width: 1080px) {

    .hero-section {
      background-image: url('../images/hero_4phone.png');
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    
    .contact {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      text-decoration: none;
      background-color: #EFD780;
      color: #000;
      /* border-radius: 5px; */
      padding: 0.4rem 2rem;
      font-family: 'Thasadith Regular';
      font-size: 27px;
      color: black;
    }
    
    
    .hero {
      color: white;
      position: absolute;
      top: 20%;
      width: 100%;
      text-align: center;
      font-size: 64px;
      font-family: 'Krona One Regular';
    }
    
    .slogan {
      color: white;
      position: absolute; 
      top: 45%;
      width: 90%;
      text-align: center;
      font-size: 65px;
      font-family: 'Thasadith Regular';
    }

   }


   /* Mobile Screen */
  
 @media(max-width: 767px) {

  .hero-section {
    background-image: url('../images/hero_4phone.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .contact {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: #EFD780;
    color: #000;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    font-family: 'Thasadith Regular';
    font-size: 27px;
    color: black;
  }
  
  
  .hero {
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-family: 'Krona One Regular';
  }
  
  .slogan {
    color: white;
    /* position: absolute; */
    /* top: 60%; */
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-family: 'Thasadith Regular';
  }
   }

   
/* Screens larger than iPad */
  @media (min-width: 1081px){ 
    .hero-section {
      background-image: url('../images/intro.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    
    .contact {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      text-decoration: none;
      background-color: #EFD780;
      color: #000;
      border-radius: 5px;
      padding: 0.4rem 2rem;
      font-family: 'Thasadith Regular';
      font-size: 27px;
      color: black;
    }
    
    
    .hero {
      color: white;
      position: absolute;
      top: 30%;
      width: 100%;
      text-align: center;
      font-size: 64px;
      font-family: 'Krona One Regular';
    }
    
    .slogan {
      color: white;
      /* position: absolute; */
      /* top: 60%; */
      width: 100%;
      text-align: center;
      font-size: 80px;
      font-family: 'Thasadith Regular';
    }
  }

@font-face {
  font-family: 'Krona One Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/KronaOne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Thasadith Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Regular'), url('../fonts/Thasadith-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Italic'), url('../fonts/Thasadith-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Bold'), url('../fonts/Thasadith-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Thasadith Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Thasadith Bold Italic'), url('../fonts/Thasadith-BoldItalic.woff') format('woff');
}

.squares{
  overflow: hidden;
}

main img{
  width: 100%;
  height: auto;
}

.first_paragraph {
  font-size: 60px;
  color: #3EBAE1;
  margin: 10%;
  text-align: center;
  font-family: 'Krona One Regular';
}

.p1 {
  font-size: 55px;
  color: black;
  margin: 10%;
  text-align: center;
  font-family: 'Thasadith Regular';
}

.p2{
  font-size: 40px;
  color: black;
  margin: 10%;
  text-align: center;
  font-family: 'Thasadith Regular';
}

.paragraph2{
  font-size: 40px;
  color: black;
  text-align: start;
  padding: 0 1rem;
  margin-top: 10%;
  font-family: 'Thasadith Regular';
}

.learning-activities-p1{
  margin-top: 8rem !important;

}


.italian-activities img{
  max-width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 10%;
  
}

.our-program-link,  .contact-btn {
  background-color: #EFD780;
  padding: 0.4rem 2rem;
  font-family: 'Thasadith Regular';
  font-size: 40px;
  color: black;
  text-decoration: none;
  text-align: center;
}


.contact-botton{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* .italian-immersion{
  background-color: #CEDACC;
  background-size: ;
} */

.italian-immersion{
  height: 100%;
  background: linear-gradient(to bottom, #CEDACC 55%, #fff 45%);
}

.italian-immersion-images{
  /* height: 50vh;  */

  color: #000;
  text-align: center;
  padding: 3rem !important;
  box-sizing: border-box;
  display: flex;
}

.italian-activities-inner{
  width: 100%;
  height: auto;
}

.h3{
  font-size: 60px !important;
  font-weight: 400 !important;
  color:white;
  font-family: 'Krona One Regular';
  margin: 4rem 0 !important;
  margin-bottom: 8rem !important;
}

.magazine {
  text-align: center;
}



.magazine_images img {
  margin: 0 auto;
  text-align: center;
}

.san_francisco_chronicle {
  width: 50%;
  display: block;
}

.vogue {
  width: 20%;
  display: block;
}

.bambini {
  font-size: 70px;
  font-weight: 700 !important;
  font-family: 'Krona One ' 'Krona One Regular' !important;
}

.feedback {
  text-align: start !important;
  font-size: 40px;
  color: black;
  margin: 10% 10% 0 10%;
  font-family: 'Thasadith Regular';
}

.parents_testimonials {
  background-color: #CEDACC;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.testimony {
  margin: 3rem auto;
}

.testimony span {
  display: block;
  font-size: 50px;
  font-weight: 700 !important;
  margin: 3rem 0 6rem;
  font-family: 'Thasadith Regular' !important;

}

.feedback{
  font-size: 55px;
  color: black;
  margin: 10%;
  text-align: center;
  font-family: 'Thasadith Regular';
}

.about_us-link{
  background-color: #EFD780;
  padding: 0.4rem 2rem;
  font-family: 'Thasadith Regular';
  font-size: 40px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

}
.about_us_div{
  margin: 0 auto;
}
